.list {
  padding: 5px;
  border-radius: 5px;
  padding: 10px 25px;
}

.listItem {
  color: #f4e6c1;
  margin: 5px 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.listItem:hover {
  transform: scale(1.1);
}
